{% extends 'base.html' %}
{% block content %}
<section class="bg-white border-b py-16">
    <div class="container max-w-5xl mx-auto m-8">
        <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
          Description
        </h2>
        <div class="w-full mb-4">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <div class="flex flex-wrap">
          <div class="w-5/6 sm:w-1/2 p-6">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
              DRIVE ME is here to provide you with the best drivers in town
            </h3>
            <p class="text-gray-600 mb-2">
              As Rwanda’s Government emphasis is on the security and well being of its people, we have analyzed and committed ourselves to and come to help its people attend to some road issues such as avoiding driving under influence of alcohol as it is prohibited we can provide drivers to drive the client  home safe.
              <br />
              <br />
              <div class="md:w-full w-full rounded bg-indigo-600 shadow-xl shadow-indigo-200 py-2 px-2 flex justify-between items-center">
                <p class=" text-white"> <span class="text-4xl font-medium">Want a Driver ?</span> <br> <span class="text-lg">Get a Driver with DriveMe </span></p>
                <button class="px-5 py-3  font-medium text-slate-700 shadow-xl  hover:bg-white duration-150  bg-yellow-400"><a href="{% url 'requestdriver' %}">Request a Driver Now !</a></button>
              </div>
            </p>
          </div>
          <div class="w-full sm:w-1/2 p-6">
            <img class="w-full rounded " src="https://thumbs.dreamstime.com/b/ve-got-you-covered-sticky-notes-bokeh-background-150935076.jpg"/>
          </div>
          <div class="w-full sm:w-1/2 p-6 mt-6">
            <div class="align-middle">
              <!-- <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3"> 
                Lorem ipsum dolor sit amet
              </h3>
              <p class="text-gray-600 mb-8">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
                <br />
                <br />
                Images from:

                <a class="text-pink-500 underline" href="https://undraw.co/">undraw.co</a>
              </p>-->
              
            </div>
          </div>
          
        </div>
      </div>
  </section>
{% endblock %}